<div style="float: left; display: inline-block; text-align: center">
    <h3>Login</h3>
    <form>
        <input type=text placeholder="Email"><br><br>
        <input type=password placeholder="Password"><br><br>
        <button (click)="onLogin()">Submit</button>
    </form>
</div>
<div style="float: right; display: inline-block; text-align: center">
    <h3>Register</h3>
    <form>
        <input type=text placeholder="First Name"><br><br>
        <input type=text placeholder="Last Name"><br><br>
        <input type=text placeholder="Email"><br><br>
        <input type=password placeholder="Password"><br><br>
        <button (click)="onRegister()">Submit</button>
    </form>
</div>