<div style="float: left; display: inline-block; text-align: center">
    <h3>Login</h3>
    <form>
        <input type=text id ="email" placeholder="Email" required/><br><br>
        <input type=password id="password" placeholder="Password" required/><br><br>
        <button (click)="onLogin()">Submit</button>
    </form>
</div>
<div style="float: right; display: inline-block; text-align: center">
    <h3>Register</h3>
    <form>
        <input type=text id="fname" placeholder="First Name" required/><br><br>
        <input type=text id="lname" placeholder="Last Name" required/><br><br>
        <input type=text id="mail" placeholder="Email" required/><br><br>
        <input type=password id="pword" placeholder="Password" required/><br><br>
        <button (click)="onRegister()">Submit</button>
    </form>
</div>